!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Gotong Royong 2.0
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :coffeescript
      $(document).ready ->
        $("textarea").autosize()

    = yield :header
  %body
    / Static navbar
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to("Home", root_path, 'class' => 'navbar-brand')
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#about"} About
            -if signed_in?
              %li
                =link_to("Sign out", destroy_user_session_path, method: :delete)
            -else
              %li
                =link_to("Log in", new_user_session_path)
        -#.nav-collapse
    .container-fluid
      -if notice
        .alert.alert-info= notice
      -if alert
        .alert.alert-danger= alert
      = yield